<!-- components/search-panel.html -->
<div id="search-panel" class="search-panel">
    <div class="search-panel-content">
        <input type="text" placeholder="Buscar no site..." class="search-input">
        <h4>Links Rápidos</h4>
        <ul>
            <li><a href="loja/loja.html">Nossa Loja</a></li>
            <li><a href="masioli odontologia/masioli-odontologia.html">Odontologia</a></li>
            <li><a href="mais cursos/landing-cursos.html">Cursos</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
        <button class="close-search-panel" id="close-search-panel">×</button>
    </div>
</div>